#nama {
  width: 600px;
  height: auto;
}
#tanggalLahir {
  width: 600px;
  height: auto;
}
#email {
  width: 600px;
  height: auto;
}
#username {
  width: 600px;
  height: auto;
}
#password {
  width: 600px;
  height: auto;
}
#password2 {
  width: 600px;
  height: auto;
}
#isianForm {
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 10%;
}
