{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	{% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'cssStory.css' %}">
  <title>Document</title>
	{% endblock %}
</head>
<body>
	{% block body %}
  <div class="header">
    <h1>Welcome to my Profile</h1>
    <div class="contact">
      <!-- <nav class="navbar">
      <a href="/">Home</a>
      <a href="https://www.google.com/maps/d/u/0/viewer?ll=-6.368251999999994%2C106.83225600000003&spn=0.004297%2C0.004823&hl=id&geocode&hq=Gedung%2BBiru&msa=0&z=18&near=Stasiun%2BPondok%2BCina%2B%40-6.370032%2C106.831957&ie=UTF8&dq=Universitas%2BIndonesia&hnear&mid=1DXPiTyh2I4WhUFdM11TYfq-Nbzo">Location</a>
      <a href="/register">Register</a>
      </nav> -->
      <div class="socme">
      <div class="social">
        <img src="http://www.clker.com/cliparts/f/D/Z/i/d/G/phone-logo-md.png" alt="082249820977" class="sizeSOC">
        <img src="https://www.freepnglogos.com/uploads/black-email-logo-png-0.png" alt="adipashya17@yahoo.com" class="sizeSOC">
        <a href="https://www.instagram.com/zuq52/"><img src="https://sguru.org/wp-content/uploads/2018/01/instagram-colourful-icon.png" class="sizeSOC"></a>
        <a href="https://www.facebook.com/adipashya.yarzuq.1"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/600px-Facebook_logo_%28square%29.png" class="sizeSOC"></a>
        <a href="https://twitter.com/yukister48"><img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" class="sizeSOC"></a>
      </div>
      <div class="contactme">
        <h2>Contact Me</h2>
      </div>
      </div>
    </div>
  </div>

  <div class="isi">
    <div class="kiri">
      <div class="foto"><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/17861825_1426557520742778_2076028908701503722_n.jpg?_nc_cat=1&oh=fb74f4d877c6d9685f76d12295ed0b4b&oe=5C1E67E6" class="sizeTC">
      <h1>Muhammad Adipashya Yarzuq</h1>
      <h2>Web Programmer</h2>
      <h3>Born in Jakarta, 17 September 1999</h3>
      </div>
      <div class="pendidikan">
        <h1>ABOUT ME</h1>
        <hr>
        <h3>Berkuliah di jurusan Ilmu Komputer<br>Universitas Indonesia</h3>
        <img src="https://upload.wikimedia.org/wikipedia/id/thumb/e/e9/UI_Logo.svg/1024px-UI_Logo.svg.png" class="sizePend">
        <h3>Pernah belajar di<br>SMA Negeri 71 Jakarta</h3>
        <img src="https://3.bp.blogspot.com/-8O6CPc7I_9s/WafEe_ekQ2I/AAAAAAAAAIM/vGqOL33qICE4BOcAsJPXcfEvZSluOYdXgCLcBGAs/s1600/LOGO%2BSMAN%2B71%2BJAKARTA.JPG" class="sizePend">
      </div>
    </div>

    <div class="kanan">
      <div class="tabel">
        <div class="trackrecord">
          <h1>Track Record</h1>
        </div>
        <div class="LogoTC">
          <div class="container">
            <img src="http://bem.cs.ui.ac.id/wp-content/uploads/2015/04/logo-bem.png" class="sizeTC">
          </div>
          <div class="textContainer">
            <h1>Penanggung Jawab<br>PMB</h1>
          </div>
        </div>
        <div class="LogoTC">
          <div class="textContainer">
            <h1>Team Kreatif<br>OKK UI 2018</h1>
          </div>
          <div class="container">
            <img src="https://okkui.id/images/logo%20okk%20ui%202018.png?crc=4038287616" class="sizeTC">
          </div>
        </div>
        <div class="LogoTC">
          <div class="container">
            <img src="http://compfest.cs.ui.ac.id/jcpc2016/images/logogram_dark.png" class="sizeTC">
          </div>
          <div class="textContainer">
            <h1>Web Designer<br>Compfest</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
	{% endblock %}
</body>
</html>
