{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>REGISTRASI</title>
    {% endblock %}
  </head>

  <body style="background-color: red">
    {% block body %}
    <h1 style="margin-left: 10%"> REGISTER </h1>
    <hr style="border: 2px solid black;" />
    <form id="isianForm">
      <div id="nama" class="form-group">
        <label for="exampleInputName">Nama</label>
        <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Masukkan Nama Lengkap Anda">
      </div>
      <div id="tanggalLahir" class="form-group">
        <label for="exampleInputTL">Tanggal Lahir</label>
        <input type="date" class="form-control" id="exampleInputTL" placeholder="Masukkan Tanggal Lahir">
      </div>
      <div id="email" class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukkan Email">
        <small id="emailHelp" class="form-text text-muted"># Email dirahasiakan #</small>
      </div>
      <div id="username" class="form-group">
        <label for="exampleInputUsername">Username</label>
        <input type="text" class="form-control" id="exampleInputUsername" placeholder="Masukkan Username">
      </div>
      <div id="password" class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Masukkan Password">
      </div>
      <div id="password2" class="form-group">
        <label for="exampleInputPassword2">Password Confirmation</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Masukkan Password Kembali">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <a button type="back" class="btn btn-primary" <a href="/">Back</button></a>
    </form>
    	{% endblock %}
  </body>
</html>
