*{margin: 0; padding: 0}
.header {
  background: url(https://www.wallpaperflare.com/static/561/1019/679/cards-ace-of-spades-monochrome-playing-cards-wallpaper.jpg);
  background-size: cover;
  height:50vh;
  width: 100vw;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.header h1 {
  text-align: center;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 60px;
  font-family: sans-serif;
  color: black;
  height: 50%;
  margin-top: -50px;
}

.contact {
  display: flex;
  justify-content: space-between;
  background-color: ;
  align-items: flex-start;
  height: 50%;
  width: 100%;
}

.socme {
  margin-right: 35px;
  background-color: white;
}

.social {
  border: 1px solid black;
}

.navbar {
  font-family: sans-serif;
  font-size: 30px;
  background-color: white;
  color: black;
}

.contactme {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.isi {
  display: flex;
  justify-content: space-around;
  background-color: white;
  font-family: sans-serif;
}


.LogoTC {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
}

.container {
  border: 1px solid black;
  width: 50%;
  height: auto;
}

.tabel {
  border: 1px solid black;
  width: 50vw;
}

.trackrecord {
  border: 1px solid black;
  font-size: 20px;
  font-family: sans-serif;
}

.sizeTC {
  width: 100%;
  height: 100%;
}

.sizeSOC {
  width: 40px;
  height: 40px;
}

.sizePend {
  width: 300px;
  height: 300px;
}

.pendidikan {
  text-align: center;
  font-family: Lucida;
  font-size: 20px;
  margin-top: 300px;
}

.pendidikan >*{
  margin-top: 20px;

}

.foto {
  text-align: center;
  width: 350px;
  height: 350px;
}

.foto img {
  text-align: center;
  width: 100%;
  height: 100%;
}

hr {
  border-color: orange;
  border-width: 2px;
}

.kanan {
  text-align: center;
}

.kiri {
  margin-top: -200px;
}

.foto >*{
  margin-top: 20px;
}

.textContainer {
  border: 1px solid black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  .isi {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .kanan {
    flex-direction: column;
    align-items: stretch;
  }
}
