{% extends 'base.html' %}


{% block body %}
<section name="form"></section>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form id="form" method="POST" action="{% url 'jadwal_post' %}">
                {% csrf_token %}
                {{ jadwal_form }}
                <br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>        
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {
        $('#date_time').datetimepicker();
        
    });
</script>
{% endblock %}