{% extends "base.html" %}

{% block body %}
    <p>Nama Kegiatan</p>
    <p>{{name}}</p>
    <p>Tempat Kegiatan</p>
    <p>{{place}}</p>
    <p>Kategori Kegiatan</p>
    <p>{{category}}</p>
    <p>Waktu dan Tanggal Kegiatan</p>
    <p>{{time}}</p>
    <p>Catatan Kegiatan</p>
    <p>{{message}}</p>
	<a href="form/hapus"><button type="button" class="btn btn-danger">Hapus jadwal</button></a>
	<a href="form/jadwal_table"><button type="button" class="btn btn-danger">Jadwal tabel</button></a>

{% endblock %}
