{% extends "base.html" %}


{% block body %}
<!--  Populate semua isi pesan dari model -->
<table class="table" style="background:white;">
    <thead>
        <th>Nama</th>
        <th>Tempat</th>
        <th>Kategori</th>
        <th>Tanggal dan Waktu</th>
        <th>Pesan</th>
        
    </thead>
    <tbody>
        <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
        {% for i in jadwal %}
        <tr>
            <td> {{i.name}} </td>
            <td> {{i.place}} </td>
            <td> {{i.category}} </td>
            <td> {{i.time}} </td>
            <td> {{i.message}} </td>

        </tr>
            
    {% endfor %}
    </tbody>
</table>
{% endblock %}
